
  <div class="container" style="width:455px; margin-right:150px; margin-top:150px;">
<form [formGroup]="userFormGroup">
  <div>
    <label class="header1">Create a New Account    </label>
  </div>
  <div class="form-group">
    <div class="row" style=" margin-left:0px;">
    <input type="text" class="form-control" formControlName="firstName"
     placeholder="First Name" style="width:200px;">&nbsp;&nbsp;
    <input type="text" class="form-control" formControlName="lastName" placeholder="Surname"  style="width:215px;">
    </div>
  </div> 
  <div class="form-group">
    <input type="text" class="form-control" formControlName="email" placeholder="Email or mobile no">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" formControlName="password" placeholder="New Password">
  </div>
  	<div class="form-group">
      <label for="exampleInputEmail1">Birthday</label><br>
      <div class="row" style=" margin-left:0px;">
				<select formControlName="day" class="form-control" style="width:105px;">
          <option  disabled>Day</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>&nbsp;&nbsp;
				<select  formControlName="month" class="form-control" style="width:105px">
          <option  disabled>Month</option>
          <option>JAN</option>
          <option>FEB</option>
          <option>MAR</option>
          <option>APR</option>
          <option>MAY</option>
          <option>JUN</option>
          <option>JUL</option>
          <option>AUG</option>
          <option>SEP</option>
          <option>OCT</option>
          <option>NOV</option>
          <option>DEC</option>
        </select>&nbsp;&nbsp;
				<select formControlName="year" class="form-control" style="width:105px">
          <option disabled>Year</option>
          <option>2010</option>
          <option>2009</option>
          <option>2007</option>
          <option>2006</option>
          <option>2005</option>
          <option>2004</option>
          <option>2003</option>
          <option>2002</option>
          <option>2001</option>
          <option>2000</option>
          <option>1999</option>
          <option>1998</option>
        </select>
      </div>
        </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Gender</label><br>
    <input type="radio"formControlName="gender" name="gender" value="male">Male
    <input type="radio" formControlName="gender" name="gender" value="female">female
    <input type="radio" formControlName="gender" name="gender" value="custom">Custom
  </div>
  <button (click)="submit()" class="btn btn-primary" style="background-color:#69a74e">Sign Up</button>
</form>
  </div>

